
    <div class="section2 ">
    <div class="menu ">
      <h1>Modules</h1>
    </div>
       <nav class="module">
    <a href="/">Home</a>
    <a href="/service">Services</a>
    <a href="/complaints">Complaints</a>
    <a href="/map1">Map</a>
    <a href="/shedule_pickup">Pickup Shedules</a>
    <a href="/aboutus">About Us</a>
    </nav>
    <footer>
      <nav class="social_media">
      <a href="https://www.instagram.com/aditya_dhikale01?igsh=MXZ5Zzh4em45aWgyMA=="><i class="fa-brands fa-square-instagram social"></i></a>
      <a href="facebook"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="twiter"><i class="fa-brands fa-square-twitter"></i></a>
      <a href="https://in.linkedin.com/in/aditya-dhikale-9727aa325?trk=people-guest_people_search-card"><i class="fa-brands fa-linkedin"></i></a>
    </nav>
      <h3>Address:</h3>
      Nashik Khat Prakalpa,
      <br> Gaulane Phata,
      <br> Pathardi Shivar,
      <br> Mumbai- Agra Road,
      <br> Nashik – 422 010
     
    </footer>
    </div>
 